<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boces.black_stanton_boces">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.LoginTypeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.StudentLoginSelectTeacherActivity" />
        <activity android:name=".activity.login.StudentLoginSelectStudentActivity" />
        <activity android:name=".activity.login.StudentLoginSelectTaskActivity" />
        <activity android:name=".activity.login.StudentCurrentTaskViewActivity" />
        <activity android:name=".activity.AdminLoginActivity" />
        <activity android:name=".activity.AdminMenuActivity" />
        <activity android:name=".activity.student.AdminStudentsActivity" />
        <activity android:name=".activity.AdminTeachersActivity" />
        <activity android:name=".activity.task.AdminTasksActivity" />
        <activity android:name=".activity.student.AdminAddStudentActivity" />
        <activity android:name=".activity.student.AdminEditStudentActivity" />
        <activity android:name=".activity.teacher.AdminAddTeacherActivity" />
        <activity android:name=".activity.teacher.AdminEditTeacherActivity" />
        <activity android:name=".activity.task.AdminAddTaskActivity" />
        <activity android:name=".activity.task.AdminEditTaskActivity" />
        <activity android:name=".activity.login.StudentTaskStart" />
        <activity android:name=".activity.DeveloperOptionsActivity" />
        <activity android:name=".activity.AdminReportsActivity" />
        <activity android:name=".activity.punch.AdminStudentPunchesActivity" />
        <activity android:name=".activity.punch.AdminPunchAddActivity" />
        <activity android:name=".activity.punch.AdminPunchEditActivity" />
        <activity android:name=".activity.account.AdminManageAccounts" />
        <activity android:name=".activity.account.AdminAddAccountActivity" />
        <activity android:name=".activity.account.AdminEditAccountActivity" />
        <activity android:name=".activity.punch.AdminPunchSelectStudentActivity" />
        <activity android:name=".activity.AboutUsActivity"/>
    </application>

</manifest>