<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boces.black_stanton_boces">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginTypeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentLoginSelectTeacherActivity"
            android:label="@string/title_activity_student_login_select_teacher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentLoginSelectStudentActivity"
            android:label="@string/title_activity_student_login_select_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentLoginSelectTaskActivity"
            android:label="@string/title_activity_student_login_select_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentCurrentTaskViewActivity"
            android:label="@string/title_activity_student_current_task_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminLoginActivity"
            android:label="@string/title_activity_admin_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminMenuActivity"
            android:label="@string/title_activity_admin_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminStudentsActivity"
            android:label="@string/title_activity_admin_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminTeachersActivity"
            android:label="@string/title_activity_admin_teachers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminTasksActivity"
            android:label="@string/title_activity_admin_tasks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminAddStudentActivity"
            android:label="@string/title_activity_admin_add_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminEditStudentActivity"
            android:label="@string/title_activity_admin_edit_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminAddTeacherActivity"
            android:label="@string/title_activity_admin_add_teacher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminEditTeacherActivity"
            android:label="@string/title_activity_admin_edit_teacher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminAddTaskActivity"
            android:label="@string/title_activity_admin_add_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminEditTaskActivity"
            android:label="@string/title_activity_admin_edit_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StudentTaskStart"></activity>
    </application>

</manifest>